<% if @dash_browse == true %>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <input class="dashimg" type="image" <%= image_tag("/assets/machined_part.png") %> alt="#">
        <p>Machined Parts</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <input class="dashimg" type="image" <%= image_tag("/assets/plastics.png") %> alt="#">
        <p>Plastics</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <input class="dashimg" type="image" <%= image_tag("/assets/software.png") %> alt="#">
        <p>Software Solutions</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <input class="dashimg" type="image" <%= image_tag("/assets/process.png") %> alt="#">
        <p>Special Processing</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/python_pylot'>
        <input class="dashimg" type="image" <%= image_tag("/assets/packaging.png") %> alt="#">
        <p>Packaging and Labelling</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <input class="dashimg" type="image" <%= image_tag("/assets/electrical_part.png") %> alt="#">
        <p>Electronics</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <input class="dashimg" type="image" <%= image_tag("/assets/computer_part.png") %> alt="#">
        <p>Computer Hardware</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <input class="dashimg" type="image" <%= image_tag("/assets/chemicals.png") %> alt="#">
        <p>Chemicals</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <input class="dashimg" type="image" <%= image_tag("/assets/bin_stock.png") %> alt="#">
        <p>Bin Stock Items and Consumables</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <input class="dashimg" type="image" <%= image_tag("/assets/adhesive_tape.png") %> alt="#">
        <p>Adhesives and Tape</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <input class="dashimg" type="image" <%= image_tag("/assets/raw_material.png") %> alt="#">
        <p>Raw Materials</p>
    </form>
  </div>
<% end %>