<% if @dash_ror == true %>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/ror_ruby'>
        <input class="dashimg" type="image" src=<%= image_path "dash_ruby_ruby.png" %> alt="Ruby">
        <p>01 - Ruby</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/ror_rails'>
        <input class="dashimg" type="image" src=<%= image_path "dash_ruby_rails.png" %> alt="Ruby on Rails">
        <p>02 - Ruby on Rails</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/ror_tdd'>
        <input class="dashimg" type="image" src=<%= image_path "dash_ruby_tdd.png" %> alt="Ruby - Test Driven Development (TDD)">
        <p>03 - Ruby - Test Driven Development (TDD)</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/ror_rails2'>
        <input class="dashimg" type="image" src=<%= image_path "dash_ruby_rails.png" %> alt="Ruby on Rails 2">
        <p>04 - Ruby on Rails 2</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/ror_rails3'>
        <input class="dashimg" type="image" src=<%= image_path "dash_ruby_rails.png" %> alt="Ruby on Rails 3">
        <p>05 - Ruby on Rails 3</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/ror_deployment'>
        <input class="dashimg" type="image" src=<%= image_path "dash_deployment.png" %> alt="Deployment">
        <p>06 - Deployment</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/ror_others'>
        <input class="dashimg" type="image" src=<%= image_path "dash_ruby_others.png" %> alt="Others - HAML and CoffeeScript">
        <p>07- Others - HAML and CoffeeScript</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/ror_ember'>
        <input class="dashimg" type="image" src=<%= image_path "dash_ruby_ember.png" %> alt="Ember">
        <p>08 - Ember</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/ror_algorithms'>
        <input class="dashimg" type="image" src=<%= image_path "dash_algorithms.png" %> alt="Algorithms">
        <p>09 - Algorithms</p>
    </form>
  </div>
<% end %>

