<% if @dash_mean == true %>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/mean_javascript'>
        <input class="dashimg" type="image" src=<%= image_path  "dash_mean_javascript.png" %> alt="JAVASCRIPT">
        <p>01 - JAVASCRIPT</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/mean_nodejs'>
        <input class="dashimg" type="image" src=<%= image_path  "dash_mean_nodejs.png" %> alt="NODE JS">
        <p>02 - NODE JS</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/mean_expressjs'>
        <input class="dashimg" type="image" src=<%= image_path  "dash_mean_express.png" %> alt="EXPRESS JS">
        <p>03 - EXPRESS JS</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/mean_mongodb'>
        <input class="dashimg" type="image" src=<%= image_path  "dash_mean_mongodb.png" %> alt="MONGO DB">
        <p>04 - MONGO DB</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/mean_angularjs'>
        <input class="dashimg" type="image" src=<%= image_path  "dash_mean_angular.png" %> alt="ANGULAR JS">
        <p>05 - ANGULAR JS</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/mean_mean'>
        <input class="dashimg" type="image" src=<%= image_path  "dash_mean_mean.png" %> alt="MEAN">
        <p>06 - MEAN</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/mean_deployment'>
        <input class="dashimg" type="image" src=<%= image_path  "dash_deployment.png" %> alt="DEPLOYMENT">
        <p>07 - DEPLOYMENT</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/mean_algorithms'>
        <input class="dashimg" type="image" src=<%= image_path  "dash_algorithms.png" %> alt="ALGORITHMS">
        <p>08 - ALGORITHMS</p>
    </form>
  </div>
<% end %>

