<% if @dash_browse == true %>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <%= image_submit_tag("machined_part.png", class: 'dashimg', alt: '#') %>
        <p>Machined Parts</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <%= image_submit_tag("plastics.png", class: 'dashimg', alt: '#') %>
        <p>Plastics</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <%= image_submit_tag("software.png", class: 'dashimg', alt: '#') %>
        <p>Software Solutions</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <%= image_submit_tag("process.png", class: 'dashimg', alt: '#') %>
        <p>Special Processing</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/python_pylot'>
        <%= image_submit_tag("packaging.png", class: 'dashimg', alt: '#') %>
        <p>Packaging and Labelling</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <%= image_submit_tag("electrical_part.png", class: 'dashimg', alt: '#') %>
        <p>Electronics</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <%= image_submit_tag("computer_part.png", class: 'dashimg', alt: '#') %>
        <p>Computer Hardware</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <%= image_submit_tag("chemicals.png", class: 'dashimg', alt: '#') %>
        <p>Chemicals</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <%= image_submit_tag("bin_stock.png", class: 'dashimg', alt: '#') %>
        <p>Bin Stock Items and Consumables</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <%= image_submit_tag("adhesive_tape.png", class: 'dashimg', alt: '#') %>
        <p>Adhesives and Tape</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <%= image_submit_tag("raw_material.png", class: 'dashimg', alt: '#') %>
        <p>Raw Materials</p>
    </form>
  </div>
<% end %>