<% if @dash_web == true %>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/web_fundamentals_html'>
        <input class="dashimg" type="image" <%= image_path "/assets/dash_web_html.png" %> alt="html5">
        <p>01 - HTML</p>
    </form>
  </div>

  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/web_fundamentals_css'>
        <input class="dashimg" type="image" <%= image_path "/assets/dash_web_css.png" %> alt="CSS">
        <p>02 - CSS</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/web_fundamentals_jquery'>
        <input class="dashimg" type="image" <%= image_path "/assets/dash_web_jquery.png" %> alt="jQuery">
        <p>03 - JQUERY</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/web_fundamentals_github'>
        <input class="dashimg" type="image" <%= image_path "/assets/dash_web_github.png" %> alt="GitHub">
        <p>04 - GITHUB</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/web_fundamentals_nextsteps'>
        <input class="dashimg" type="image" <%= image_path "/assets/dash_web_next_steps.png" %> alt="Next Steps">
        <p>05 - NEXT STEPS</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/web_fundamentals_rwd'>
        <input class="dashimg" type="image" <%= image_path "/assets/dash_web_rwd.png" %> alt="Responsive Web Design">
        <p>06 - RESPONSIVE WEB DESIGN</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/web_fundamentals_wireframes'>
        <input class="dashimg" type="image" <%= image_path "/assets/dash_web_wireframe.png" %> alt="Wireframes">
        <p>07 - WIREFRAMES</p>
    </form>
  </div>
<% end %>

