<!DOCTYPE html>
<html lang="en" media="screen">
  
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" http-equiv="Content-Type">
    <title> Linkdustrial </title>

    <!-- Latest compiled and minified CSS -->
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity: "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin: "anonymous" %>
    <!-- Optional theme -->
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", integrity: "sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", crossorigin: "anonymous" %>
    <!--CSS W3 SCHOOLS-->
    <%= stylesheet_link_tag "https://www.w3schools.com/lib/w3.css" %>
    <!--GOOGLE FONTS CSS-->
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Raleway" %>
  </head>


	<body>
    <div id="container">
      <div id="full_nav">
        <div class="nav_bar">
          <ul class="nav nav-tabs navbar-fixed-top">
            <li role="presentation" class="active">
              <form class="form-group-item" action='/'>
                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                <input type="hidden" value="index">
                <input class="list-group-item" type='submit' value="Home Page" />
              </form>
            </li>
            <li role="presentation" class="active">
              <form class="form-group-item" action='/dash_account_settings'>
                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                <input type="hidden" value="account_settings">
                <input class="list-group-item" type='submit' value="Account Settings" />
              </form>
            </li>
            <li role="presentation" class="active">
              <form class="form-group-item" action='/dash_admin'>
                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                <input type="hidden" value="dash_admin">
                <input class="list-group-item" type='submit' value="Browse" />
              </form>
            </li>
          </ul>
        </div>
      </div>

      <div id="hidden_hamburger" class="nav_bar">
        <ul class="nav nav-tabs navbar-fixed-top">
          <li>
            <button class="button-slidetoggle">
              <div class="hamburger_menu" onclick="hidden_menu(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
              </div>
            </button>
          </li>
          <li>
            <h1> LINKDUSTRIAL </h1>
          </li>
        </ul>
        <div class="hidden_container" onclick="hidden_menu(this)">
          <div class="sidebar_rwd">
            <form class="form-group-item" action='/'>
              <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
              <input type="hidden" value="index">
              <input class="list-group-item" type='submit' value="Dashboard" />
            </form>
            <form class="form-group-item" action='/dash_account_settings'>
              <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
              <input type="hidden" value="account_settings">
              <input class="list-group-item" type='submit' value="Account Settings" />
            </form>
            <form class="form-group-item" action='/dash_admin'>
              <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
              <input type="hidden" value="dash_admin">
              <input class="list-group-item" type='submit' value="Browse" />
            </form>
          </div>
        </div>
      </div>

      <div class="soup_content">
        <input id="pac-input" class="controls w3-hover-shadow" type="text" placeholder="Search Box">
        <div class="w3-container">
          <%= render(:partial => "dash_account_settings") %>
          <%= render(:partial => "dash_admin") %>
        </div>    
    </div>
	</body>

<script type="text/javascript">
  //HIDDEN MENU SCRIPT
    function hidden_menu(x) {
      x.classList.toggle("change");
    };

    $(document).ready(function(){
      $('.button-slidetoggle').click(function() {
        $('.hidden_container').toggle("slide");
      });
    });
</script>

//GOOGLE SEARCH BOX
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnNcc6jlGUp04fpUsKCXzCsq0XR5qphdw&libraries=places&callback=initAutocomplete" async defer></script>

</html>



